html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f0efe9;
}

.done {
    text-decoration: line-through;
}

ul {
    list-style-type: none;
    width: 100%;
}

span {
    font-size: x-large;
    margin-right: 10px;
}

form {
    margin-bottom: 20px;
}

.list-item {
    display: flex;
    margin: 20px 0;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    max-height: 80px;
}

.list {
    width: 30%;
    border: none;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 15px;
}

.level {
    padding: 10px;
    border-radius: 20px;
    top: 80%;
    left: 50%;
    width: 100%;
    padding-top: 10%;
}

figure {
    width: 100%;
}

.item {
    margin-left: 30%;
}

.inner {
    margin-left: 40%;
}

@media (max-width:480px) {
    .item {
        margin-left: 12%;
    }
    .inner {
        margin-left: 12%;
    }
}

@media only screen and (min-width: 481px) and (max-width:768px) {
    .item {
        margin-left: 20%;
    }
    .inner {
        margin-left: 20%;
    }
}